data/*/*/*
!data/*/*/empty.txt

data_resize/*/*/*
!data_resize/*/*/empty.txt

data_split_resize/*/*/*
!data_split_resize/*/*/empty.txt

src/scripts/general_resize/input/*/*/*
!src/scripts/general_resize/input/*/*/empty.txt

src/scripts/general_resize/output/*
!src/scripts/general_resize/output/empty.txt

predata/*/*/*
!predata/*/*/empty.txt

*.joblib