data/
data_resize/
data_split_resize/
outputs/
preprocessing_output/
Test Algorithms images/
test_data/
training_pipeline/resized_imgs
data_split/
data_split_resize/
old_preprocessing/
preprocessing_results/
old_preprocessing/
src/scripts/general_resize/input/
src/scripts/general_resize/output/
models/Trained_RF.joblib
models/Trained_SVM.joblib
*.joblib
*.joblib
kamal data/
